.example-card {
  background-color: #daa9df;
}

.mat-card {
  display: inline-flex;
  padding: 10px;
  margin-left: 10px;
  width: 30%;
  margin-bottom: 3rem;
}

.mat-card-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-content: space-evenly;
}

.line {
  text-decoration: line-through;
  font-weight: 900;
}

i {
  font-size: 15px;
  color: red;
}
