<!-- <p>mini-forfait works!</p> -->

<mat-card class="example-card" *ngFor="let forfait of forfaits">
    <mat-card-title-group>
      <mat-card-title>{{forfait.destination}} <h4>De {{forfait.villeDepart}}</h4></mat-card-title>
      
       
      <mat-card-subtitle>
      Hôtel: {{forfait.hotel.nomHotel}}
      <app-etoiles></app-etoiles>
      <mat-card-content> 
      {{forfait.prix}}$
      
      (tx. et frais incl. par adulte).
      <p>Date de départ: {{forfait.dateDepart}}</p>
      <p>7 jours restants</p>
      </mat-card-content>
      
      
      </mat-card-subtitle>
      </mat-card-title-group>
      </mat-card>