.example-card {
  background-color: #daa9df;
}

.mat-card {
  display: inline-flex;
  margin-left: 10px;
  width: 30%;
  margin-bottom: 3rem;
}

.mat-card-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-content: space-evenly;
}
