table {
  width: 100%;
}

i {
  padding: 0;
  background-color: red;
}

#heroFormAjout {
  padding-left: 24px;
  padding-right: 24px;
}

.input-full-width {
  width: 100%;
}

table {
  width: 100%;
}

.mat-column-nom {
  width: 100%;
}
.mat-column-actions {
  min-width: 90px !important;
}

.boutonsAction {
  padding: 0;
}
.boutonsAction form {
  display: inline-block;
}
