
<!-- la liste des forfaits complets-->
<!-- Liste de forfait dans une liste -->

 <!-- <h1>La liste complète des forfaits</h1>
 <br>
<ul class="flex" *ngFor="let forfait of forfaits">
    <li>*Départ de {{forfait.villeDepart}}.</li>
    <li> Vers {{forfait.destination}}.</li>
    <li>Hôtel {{forfait.hotel.nomHotel}}.</li> 
    <li>De {{forfait.dateDepart}}.</li>
    <li>Au {{forfait.dateRetour}}.</li>  
    <li>Prix {{forfait.prix}}$.</li> 
    <li>Adresse : {{forfait.hotel.coordonnees}}.</li>
    <li>Nombre de Chambres {{forfait.hotel.nombreChambres}}.</li> 
    <li>Inclus: {{forfait.hotel.caracteristique}}.</li>
    <li><app-etoiles [starRating]= forfait.hotel.nombreEtoiles></app-etoiles>
    </li>    

</ul> -->

<!-- Liste de forfait dans un tableau -->

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef> destination </th>
      <td mat-cell *matCellDef="let element"> {{element.destination}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="ville_de_depart">
      <th mat-header-cell *matHeaderCellDef> villeDepart </th>
      <td mat-cell *matCellDef="let element"> {{element.ville_de_depart}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="nom_hotel">
      <th mat-header-cell *matHeaderCellDef> nomHotel </th>
      <td mat-cell *matCellDef="let element"> {{element.hotel.nom_hotel}} </td>
    </ng-container>

    <ng-container matColumnDef="coordonnees">
        <th mat-header-cell *matHeaderCellDef> coordonnees </th>
        <td mat-cell *matCellDef="let element"> {{element.hotel.coordonnees}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre_etoiles">
        <th mat-header-cell *matHeaderCellDef> nombreEtoiles </th>
        <td mat-cell *matCellDef="let element"> {{element.hotel.nombre_etoiles}} </td>
      </ng-container>

      <ng-container matColumnDef="nombre_chambres">
        <th mat-header-cell *matHeaderCellDef> nombreChambres </th>
        <td mat-cell *matCellDef="let element"> {{element.hotel.nombre_chambres}} </td>
      </ng-container>

      <ng-container matColumnDef="caracteristiques">
        <th mat-header-cell *matHeaderCellDef> caracteristiques </th>
        <td mat-cell *matCellDef="let element"> {{element.hotel.caracteristiques}} </td>
      </ng-container>

      <ng-container matColumnDef="date_de_depart">
        <th mat-header-cell *matHeaderCellDef> dateDepart </th>
        <td mat-cell *matCellDef="let element"> {{element.date_de_depart}} </td>
      </ng-container>

      <ng-container matColumnDef="date_de_retour">
        <th mat-header-cell *matHeaderCellDef> dateRetour </th>
        <td mat-cell *matCellDef="let element"> {{element.date_de_retour}} </td>
      </ng-container>

      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> prix </th>
        <td mat-cell *matCellDef="let element"> {{element.prix}}$</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
  

  
