
<!-- la liste des forfaits complets-->

 <h1>La liste complète des forfaits</h1>
 <br>
<ul class="flex" *ngFor="let forfait of forfaits">
    <li>*Départ de {{forfait.villeDepart}}.</li>
    <li> Vers {{forfait.destination}}.</li>
    <li>Hôtel {{forfait.hotel.nomHotel}}.</li> 
    <li>De {{forfait.dateDepart}}.</li>
    <li>Au {{forfait.dateRetour}}.</li>  
    <li>Prix {{forfait.prix}}$.</li> 
    <li>Adresse : {{forfait.hotel.coordonnees}}.</li>
    <li>Nombre de Chambres {{forfait.hotel.nombreChambres}}.</li> 
    <li>Inclus: {{forfait.hotel.caracteristique}}.</li>
    <li><app-etoiles [starRating]= forfait.hotel.nombreEtoiles></app-etoiles>
    </li>    

</ul>

  

  
