<!-- <p>forfait-complet works!</p> -->

    <!-- Affichage de tous les forfaits -->
      <mat-card class="container-fluid" *ngFor="let forfait of forfaits">

    <!-- Ici affichage avec ngIf du forfait vedette uniquement-->
  
    <div class="container" *ngIf="forfait.vedette"><b>Forfaits vedette du mois</b>
    <mat-card-title P-3>
      <img src="/assets/mexique-tulum.jpg" width="250" height="500" >
    </mat-card-title>

    <!-- ngStyle pour mettre de l'avant le forfait vedette via un bouton & affichage du bouton uniquement sur les forfait vedette-->
    <button *ngIf="forfait.vedette" class="btn btn-danger"[ngStyle]="{'font-size.px':25, 'font-style':'initial', 'color':'black'}"><h2>Forfait vedette</h2></button>
    

    <div class="items p-3">
    <h2>{{forfait.destination}}</h2> <h4>De {{forfait.villeDepart}}.</h4>
    <h2><span>Séjour au </span>{{forfait.hotel.nomHotel}}.</h2>
    <br>
    <h3>Nombre d'étoiles:
      <app-etoiles></app-etoiles>
    </h3>
    <h3>Adresse de l'hôtel:<br>{{forfait.hotel.coordonnees}}.</h3>
    <h3>Nombre de chambres:{{forfait.hotel.nombreChambres}}.</h3>
    <h3>Tout inclus:{{forfait.hotel.caracteristique}}.</h3>
    <br>
    <h3>Date de départ:{{forfait.dateDepart}}.</h3>
    <h3>Date de retour: {{forfait.dateRetour}}.</h3>
    <br>
    </div>
    <div class="container-flex">
    <i class="fa fa-tag" *ngIf="forfait.vedette" aria-hidden="true">solde</i>

    <!-- Application du rabais au forfait vedette-->

    <span *ngIf="forfait.rabais >= 0"><p class="line">{{forfait.prix}}$</p> avec un <b>{{forfait.rabais}}$</b> de rabais. 
    <br> Le prix du forfait est de <b>400$</b></span>
    <br>
    (tx. et frais incl. par adulte).
    </div>
    </div>
    </mat-card>


    


     
  
    