
<div class="container">
        <div class="text-center">

                <h1>Vos forfaits voyages</h1>
                    <h2>Bienvenue</h2>


                        <p>
                        Le site *Vos forfaits voyages* est un site qui vous présente une grande panoplie de forfait voyages.
                        Des destinations qui font rêver à des prix abordables.
                        <br>
                        Nous vous offrons des promotions sur plusieurs forfaits voyages qui vous permettront de voyager sans vous ruiner.
                        sachez que nos offres de voyages sont mises à jour quotidiennement pour nous permettre de vous offrir les meilleures destinations.
                        <br>
                        Le site met à votre disposition une navigation souple.
                        Vous pouvez consulter les dernières offrent en cours.
                        Nous vous offrons aussi deux pages exclusives pour les destinations les plus tendances.
                        <br>
                        Vous avez une idée de voyages et vous n'êtes pas sûre de votre prochaine destination, 
                        Vous avez besoin d'aide pour planifier votre prochain voyage, 
                        Vous avez besoin de conseil sur les destinations les plus convoitées, 
                        Nous sommes là pour vous aider et vous accompgner!
                        <br>
                        Sachez que nous disposons d'une équipe spécialisée d'une grande expérience pour vous aiguiller dans vos démarches.
                        Je vous invite à nous contacter et à prendre un rendez-vous.
                        <br>
                        Nos conseillers en agence seront heureux de vous rencontrer.
                         </p>
                         <br>
                         <address>
                            Pour nous joindre <a href="mailto:prodevweb@gmail.com">Votre équipe</a>
                        </address>
                        <h5>Je vous souhaite un beau voyage.</h5>
        </div>
    </div>

    <div class="container-fluid text-center">
        <img src="/assets/voyage3.jfif" width="1300" height="500" >
    </div>

    



    <footer class="footer text-center">
        <p>&copy; Vos forfaits voyages</p>
    </footer>