    <div class="container-fluid">
        <div class="text-center">
                <h2>Vos forfaits voyages</h2>
                    <h3>Bienvenue</h3>
                        <p>Le site *Vos forfaits voyages* est un site qui vous présente une grande panoplie de forfait voyages.
                        Des déstinations qui font réver à des prix abordables.
                        Nous vous offrons des promotions sur plusieurs forfaits voyages qui vous permettront de voyager sans vous ruinez.
                        sachez que nos offres de voyages sont mises à jour de façon régulières pour nous permettre de vous offrir les meilleurs destinations.

                        Le site met à votre disposition une navigation souple.
                        Vous pouvez consulter les dernières offrent en cours.
                        Nous vous offrons aussi une page exclusive des déstinations les plus tendances.
                         </p>

                        <h2>Je vous souhaite un beau voyage.</h2>
                        
                        
                       

        </div>
    </div>