/* :host {
  display: block;
  background-color: rgb(68, 236, 82);
} */

mat-slider {
    padding: 5px;
  }
  .container-fluid {
    margin-bottom: 10px;
    max-width: 1000px;
    background-color: rgb(225, 243, 243);
    display: flex;
    align-items: center;
  }
  
  .container {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
  }
  
  .items {
    flex-direction: column;
  }
  
  .container-flex {
    display: inline;
    align-self: center;
    margin-right: 20px;
    justify-content: flex-end;
  }
  
  i {
    font-size: 30px;
    color: red;
  }
  
  .line {
    text-decoration: line-through;
    font-weight: 900;
  }
  
  p {
    font-weight: bold;
  }
  
  h2 {
    font-family: Georgia;
  }
  