<!-- <p>navbar works!</p> -->
<div class="x">
<mat-toolbar color="primary">
    <span>
      <img src="/assets/image4.webp" width="50" height="50">
      Vos forfaits voyages
    </span>

    <div class="spacer"></div>
     <a mat-button routerLink="/accueil">Acceuil</a>
     <a mat-button routerLink="/cuba">Cuba</a>
     <a mat-button routerLink="/mexique">Mexique</a>
     <a mat-button routerLink="/apropos">À propos</a>
     <a mat-button routerLink="/Admin">Admin</a>


   </mat-toolbar>
</div>
