<!-- <p>formulaire works!</p> -->


<form #forfaitForm="ngForm">

    <mat-form-field appearance="fill" class="half-width">
        <mat-label>id</mat-label>
        <input name="id" [(ngModel)]="forfait.id" name="id" #id="ngModel" matInput placeholder="Ex">
        <!-- <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('required')">La destination est obligatoire.</mat-error> -->
        <!-- <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error> -->
        <!-- <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error> -->
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Destination</mat-label>
        <input name="destination" [(ngModel)]="forfait.destination" name="destination" #destination="ngModel" matInput required minlength="2" maxlength="50"  placeholder="Ex. Cuba">
        <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('required')">La destination est obligatoire.</mat-error>
        <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="destination.invalid && (destination.dirty || destination.touched) && destination.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Ville de départ</mat-label>
        <input name="ville_de_depart" [(ngModel)]="forfait.ville_de_depart" name="ville_de_depart" #ville_de_depart="ngModel" matInput required minlength="2" maxlength="50"  placeholder="Ex. Forfait ZYZ">
        <mat-error *ngIf="ville_de_depart.invalid && (ville_de_depart.dirty || ville_de_depart.touched) && ville_de_depart.hasError('required')">La ville de départ est obligatoire.</mat-error>
        <!-- <mat-error *ngIf="ville_de_depart.invalid && (ville_de_depart.dirty || ville_de_depart.touched) && ville_de_depart.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error> -->
        <mat-error *ngIf="ville_de_depart.invalid && (ville_de_depart.dirty || ville_de_depart.touched) && ville_de_depart.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Nom hotêl</mat-label>
        <input name="nom_hotel" [(ngModel)]="forfait.hotel.nom_hotel" name="nom_hotel" #nom_hotel="ngModel" matInput required minlength="2" maxlength="50"  placeholder="Ex. Hilton">
        <mat-error *ngIf="nom_hotel.invalid && (nom_hotel.dirty || nom_hotel.touched) && nom_hotel.hasError('required')">Le nom de l'hotêl est obligatoire.</mat-error>
        <mat-error *ngIf="nom_hotel.invalid && (nom_hotel.dirty || nom_hotel.touched) && nom_hotel.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nom_hotel.invalid && (nom_hotel.dirty || nom_hotel.touched) && nom_hotel.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Coordonnées</mat-label>
        <input name="coordonnees" [(ngModel)]="forfait.hotel.coordonnees" name="coordonnees" #coordonnees="ngModel" matInput required minlength="2" maxlength="50"  placeholder="Ex. Hilton">
        <mat-error *ngIf="coordonnees.invalid && (coordonnees.dirty || coordonnees.touched) && coordonnees.hasError('required')">Le nom de l'hotêl est obligatoire.</mat-error>
        <mat-error *ngIf="coordonnees.invalid && (coordonnees.dirty || coordonnees.touched) && coordonnees.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="coordonnees.invalid && (coordonnees.dirty || coordonnees.touched) && coordonnees.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

    <mat-form-field required appearance="fill" class="half-width">
        <mat-label>Nombre etoiles</mat-label>
        <input name="nombre_etoiles" [(ngModel)]="forfait.hotel.nombre_etoiles" name="nombre_etoiles" #nombre_etoiles="ngModel" required type="number" min="1" max="7" matInput placeholder="Ex. 5">
        <mat-error *ngIf="nombre_etoiles.invalid && (nombre_etoiles.dirty || nombre_etoiles.touched) && nombre_etoiles.hasError('required')">La ville de départ est obligatoire.</mat-error>
        <mat-error *ngIf="nombre_etoiles.invalid && (nombre_etoiles.dirty || nombre_etoiles.touched) && nombre_etoiles.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nombre_etoiles.invalid && (nombre_etoiles.dirty || nombre_etoiles.touched) && nombre_etoiles.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
        <span matSuffix>&nbsp;</span>
    </mat-form-field>

    <mat-form-field required appearance="fill" class="half-width">
        <mat-label>Nombre chambres</mat-label>
        <input name="nombre_chambres" [(ngModel)]="forfait.hotel.nombre_chambres" name="nombre_chambres" #nombre_chambres="ngModel" required type="number" step="200" matInput placeholder="Ex:54">
        <mat-error *ngIf="nombre_chambres.invalid && (nombre_chambres.dirty || nombre_chambres.touched) && nombre_chambres.hasError('required')">La ville de départ est obligatoire.</mat-error>
        <mat-error *ngIf="nombre_chambres.invalid && (nombre_chambres.dirty || nombre_chambres.touched) && nombre_chambres.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="nombre_chambres.invalid && (nombre_chambres.dirty || nombre_chambres.touched) && nombre_chambres.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
        <span matSuffix>&nbsp;</span>
    </mat-form-field>

    <!-- Tableau des choix des caractéristiques -->
    <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Caracteristiques</mat-label>
        <mat-chip-list #chipList aria-label="caracteristiques selection">
          <mat-chip
            *ngFor="let caracteristique of Caracteristiques"
            (removed)="remove(caracteristique)">
            {{caracteristique}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="Nouvelle caractéristique..."
            #caracteristiqueInput
            [formControl]="caracteristiqueCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)"> 
            
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let caracteristique of filteredCaracteristiques | async" [value]="caracteristique">
            {{caracteristique}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field> 



    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de départ</mat-label>
        <input type="date" [(ngModel)]="forfait.date_de_depart" name="date_de_depart" #date_de_depart="ngModel" min="2021-12-31" max="2023-12-31"required matInput placeholder="Ex. 2022-03-15">
        <mat-error *ngIf="date_de_depart.invalid && (date_de_depart.dirty || date_de_depart.touched) && date_de_depart.hasError('required')">La ville de départ est obligatoire.</mat-error>
        <mat-error *ngIf="date_de_depart.invalid && (date_de_depart.dirty || date_de_depart.touched) && date_de_depart.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="date_de_depart.invalid && (date_de_depart.dirty || date_de_depart.touched) && date_de_depart.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Date de retour</mat-label>
        <input type="date" [(ngModel)]="forfait.date_de_retour" name="date_de_retour" #date_de_retour="ngModel" min="2021-12-31" max="2023-12-31"required matInput placeholder="Ex. 2022-03-15">
        <mat-error *ngIf="date_de_retour.invalid && (date_de_retour.dirty || date_de_retour.touched) && date_de_retour.hasError('required')">La ville de départ est obligatoire.</mat-error>
        <mat-error *ngIf="date_de_retour.invalid && (date_de_retour.dirty || date_de_retour.touched) && date_de_retour.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="date_de_retour.invalid && (date_de_retour.dirty || date_de_retour.touched) && date_de_retour.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

    <mat-form-field required appearance="fill" class="half-width">
        <mat-label>Prix</mat-label>
        <input name="prix" [(ngModel)]="forfait.prix" name="prix" #prix="ngModel" required type="number" matInput placeholder="Ex. 10.00">
        <mat-error *ngIf="prix.invalid && (prix.dirty || prix.touched) && prix.hasError('required')">Le prix est obligatoire.</mat-error>
        <span matSuffix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field required appearance="fill" class="half-width">
        <mat-label>Rabais</mat-label>
        <input name="rabais" [(ngModel)]="forfait.rabais" name="rabais" #rabais="ngModel" required type="number" matInput placeholder="ex">
        <mat-error *ngIf="rabais.invalid && (rabais.dirty || rabais.touched) && rabais.hasError('required')">Le rabais est obligatoire.</mat-error>
        <span matSuffix>$&nbsp;</span>
    </mat-form-field>

    <mat-form-field appearance="fill" class="half-width">
        <mat-label>Vedette</mat-label>
        <input name="vedette" [(ngModel)]="forfait.vedette" name="vedette" #vedette="ngModel" matInput required type="text" placeholder="Ex. ">
        <mat-error *ngIf="vedette.invalid && (vedette.dirty || vedette.touched) && vedette.hasError('required')">Le champs est obligatoire.</mat-error>
        <mat-error *ngIf="coordonnees.invalid && (coordonnees.dirty || coordonnees.touched) && coordonnees.hasError('minlength')">Le nom doit contenir au moins 2 caractères.</mat-error>
        <mat-error *ngIf="coordonnees.invalid && (coordonnees.dirty || coordonnees.touched) && coordonnees.hasError('maxlength')">Le nom doit contenir au maximum 50 caractères.</mat-error>
    </mat-form-field>

    <button matSuffix type="submit"  mat-raised-button (click)="onCancel()">Annuler</button>&nbsp;
    <button matSuffix type="submit"  mat-raised-button [disabled]="!forfaitForm.form.valid" (click)="onSave(forfaitForm)">ok</button>
</form>


